@mixin warning {
  background-color: orange;
  color: white;
}

@mixin large-text {
  font: {
    size: 22px;
    weight: bold;
  }
}

@mixin rounded($radius: 6px) {
  border-radius: $radius;
}

@mixin box($radius, $border: 1px solid black) {
  @include rounded($radius);
  border: $border;
}

@mixin fancy-links {
  a {
    font-style: italic;
    text-decoration: none;
  }
}

@mixin box-shadow($shadows...) {
    box-shadow: $shadows
}