// Colors
$text-color: #222;
$theme-color: #170a48;
$secondary-color: #f27731;
$ternary-color: #ccf962;
$link-color: $secondary-color;
$menu-item_color: white;

// Fonts
$text-font: Veranda, Arial, sans-serif;
$headline-font: 'Palatino Linotype', Georgia, serif;

// Sizes
$content-width: 960px;
$header-height: 60px;
$footer-height: 90px;